# Backend Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/project_management?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=dummypassword

# Redis Configuration
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379

# JWT Configuration
jwt.secret=projectManagementJwtSecretKeyForSpringBoot2026
jwt.expiration=900000
jwt.refresh.expiration=604800000

# Cloudinary Configuration
cloudinary.cloud_name=dv3sn9vrd
cloudinary.api_key=876858344123227
cloudinary.api_secret=T8f8pdJ0imG-6jdYqVoW_hb1zVQ

# Frontend Configuration
VITE_API_URL=http://localhost:8081
